<div class="current-survey">
  <div id="new-question-div"></div>
  <h2> <%= @survey.title %> </h2>
  <% if current_user.id == @survey.creator_id %>
    <%= erb :'survey/_stats' %>
  <% else %>
  <h4> Created by : <%= User.find(@survey.creator_id).user_name  %> </h4>
  <form action="/survey/answer" method='POST'>
  <input type="hidden" name='survey' value='<%= @survey.id %>'>
  <input type="hidden" name='taker' value='<%= current_user.id%>'>
   <ol> <% @survey.questions.each do |quest| %>
     <li> <%= erb :'survey/_question', locals: {question: quest} %> </li>
    <% end %>
    <input type="submit" value="Submit">
  </form>
  <% end %>
</div>
