<div class="quiz-stats">

  <h3>  On your survey entitled "<%= @survey.title %>" </h3>
  <ol>
    <% @survey.questions.each do |q| %>
     <li><%= q.content %></li>
     <ul>
        <% q.sorted_answers.each do |a| %>
      <li><%= a.content %> : <span class='bar' style='width: <%= a.percentage.to_i * 5 %>px'> <%= a.percentage %></span> </li>
     <% end %>
      </ul>
    <% end %>
  </ol>
</div>
